<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Picnicss.com CSS -->
    <link rel="stylesheet" href="https://unpkg.com/picnic">

    <!-- {% if title %}
    <title>TWITOFF - {{ title }}</title>
    {% else %}
    <title>TWITOFF APP</title>
    {% endif %} -->
</head>
<body>
  <main role="main" class="container">
    <h1> Twitoff! </h1>
      {% block content}
      <form action="/user" method="post">
        <input type="text" name="user_name" placeholder="User to add">
        <input type="submit" value="Add User">
      </form>
      {% endblock}
  </main>
</body>
</html>